$stress-color: #3eb050;
$font-color-default: #313131;
$font-size-default: 13px;
$font-size-large: 18px;
$font-color-secondary: #6f7577;
$border-radius-default: 6px;
$surface-color-default: #fff;
$on-stress-color: #fff;
$font-weight-semi-bold: 500;
